body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    padding: 5px;
    margin-top: 40px;
    background-color: lightgray;
}
#heading {
    height: 40px;
    width: 340px;
    padding: 10px 0;
    margin: 10px 5px;
    text-align: center;
    color: white;
    background-color: black;
}
#display{
    height: 60px;
    width: 320px;
    padding: 14px 10px 6px;
    text-align: end;
    font-size: 40px;
    color: rgb(0, 68, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px gray;
    margin: 10px 5px 5px;
}

#function-div {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
    margin: 5px;
}
.button {
    height: 38px;
    width: 83px;
    padding: 8px 0 0 0;
    margin: 4px;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2.2px 0px gray;
    border: 1px solid rgb(120, 120, 120);
}
.button:hover {
    color: white;
    border: 1px solid rgb(200, 100, 0);
    box-shadow: 0px 2.2px 0px rgb(255, 50, 0);
    background-color: orangered;
}
#ac, #pluse_minus, #percentage {
    color: white;
    background-color: darkgray;
}
.zero {
    width: 176px;
}
.operation, #equal {
    color: lightgray;
    background-color: brown;
}